{% extends '_layout_wide.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block content %}
    <h1>Recipes:</h1>

    <div class="recipe-table">
        <div class="recipe-table-row">
            <div class="recipe-table-header">Id</div>
            <div class="recipe-table-header">Nazwa</div>
            <div class="recipe-table-header">Przepis</div>
            <div class="recipe-table-header">Data</div>
            <div class="recipe-table-header">Kategoria</div>
            <div class="recipe-table-header">Akcje</div>
        </div>
    {% for recipe in recipes %}
        <div class="recipe-table-row">
            <div class="recipe-table-item">{{ recipe.id }}</div>
            <div class="recipe-table-item">{{ recipe.name }}</div>
            <div class="recipe-table-item">{{ recipe.content }}</div>
            <div class="recipe-table-item">{{ recipe.createdAt ? recipe.createdAt|date('Y-m-d H:i:s') : '' }}</div>
            <div class="recipe-table-item">{{ recipe.category ? recipe.category|join(', ') : '' }}</div>
            <div class="recipe-table-item">
                <a class="link-button button-action" href="{{ path('app_recipe_admin_show', {'id': recipe.id}) }}">Show</a>
                <a class="link-button button-accept" href="{{ path('app_recipe_admin_edit', {'id': recipe.id}) }}">Edit</a>
            </div>
        </div>
    {% else %}
        <div>
            no records found
        </div>
    {% endfor %}
        <div class="recipe-table-row">
            <div class="recipe-table-item grid-right">
                <a class="link-button button-alert" href="{{ path('app_recipe_admin_new') }}">Create new</a>
            </div>
        </div>
    </div>

{% endblock %}
